pdfminer3
pyresparser
streamlit
pandas
pafy
plotly
pymysql
streamlit-tags
Pillow
nltk
pdfminer3
spacy
openai
fitz
PyMuPDF
spacy>=3.0
en_core_web_sm>=3.0



#i want to install en_core_web_sm from spacy




