pdfminer3
pyresparser
streamlit
pandas
pafy
plotly
pymysql
streamlit-tags
Pillow
nltk
pdfminer3
spacy==2.3.5
openai
fitz
PyMuPDF
spacy[en_core_web_sm]
# https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz



#i want to install en_core_web_sm from spacy




